*{
  margin: 0;
  padding: 0;
}
.container{
  height: auto;
  width: 35%;
  border:0.5px solid rgb(202, 202, 202);
  border-radius: 3px;
  margin: 2% auto;
  padding: 2%;
  margin-top: 7%;
}
h1{
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 25px;
  letter-spacing: 1px;
}
.fundoo{
  justify-content: center;
}
.resetpassword{
  justify-content: center;
  margin-top: -15px;
  font-size: 24px;
}
.input{
  margin-top: 12px;
  padding: 25px;
}
::ng-deep clr-input-container .clr-control-container {
  display: block;
  width: 100%;
}
::ng-deep clr-input-container input {
  width: 100%;
}
.checkbox{
  margin-top: 9px;
}
.checkbox1{
  margin-top: 9%;
}
.button{
  justify-content: center;
  align-items: center;
}
