<div class="container">
  <div fxLayout="column" fxLayoutAlign="start" style="padding: 14px;">
    <div fxLayout="row" class="fundoo">
      <h1 style="color: #4285F4;">F</h1>
      <h1 style="color: #EA4335;">u</h1>
      <h1 style="color: #FBBC04;">n</h1>
      <h1 style="color: #4285F4;">d</h1>
      <h1 style="color: #34A853;">o</h1>
      <h1 style="color: #EA4335;">o</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <h1 class="resetpassword">Reset your account password</h1>
    </div>
    <div class="input">
      <clr-input-container>
        <label></label>
        <input clrInput placeholder="New Password" name="input" />
      </clr-input-container>
      <div class="checkbox">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options" />
          <label>Show Password</label>
        </clr-checkbox-wrapper>
        <clr-input-container style="margin-top: 10px;">
          <label></label>
          <input clrInput placeholder="Confirm Password" name="input" />
        </clr-input-container>
        <div class="checkbox">
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox name="options" />
            <label>Show Password</label>
          </clr-checkbox-wrapper>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" >
    <button type="submit" class="btn btn-primary">Confirm</button>
  </div>
</div>
