<form class="main-container">
  <div fxLayout="column" fxLayoutAlign="start" style="padding: 14px;">
    <div fxLayout="row" class="fundoo">
      <h1 style="color: #4285F4;">F</h1>
      <h1 style="color: #EA4335;">u</h1>
      <h1 style="color: #FBBC04;">n</h1>
      <h1 style="color: #4285F4;">d</h1>
      <h1 style="color: #34A853;">o</h1>
      <h1 style="color: #EA4335;">o</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" >
      <h1 class="signin">Sign in</h1>
      <p class="fundooacc">Use your Fundoo Account</p>
    </div>
    <div class="input">
      <clr-input-container>
        <label>Email or phone</label>
        <input clrInput placeholder="Email or Phone" name="input"/>
      </clr-input-container>
      <div class="inputpassword">
      <clr-input-container>
        <label>Password</label>
        <input clrInput placeholder="Password" name="input" />
      </clr-input-container>
    </div>
    </div>
    <div class="msg">
      <p class="uclass"> Not your computer? Use Guest mode to sign in privately.</p>
      <button class="btn btn-sm btn-link" style="border: 0; margin-left: -12px;">Learn more</button>
    </div>
    <div class="button" fxLayout="row" fxLayoutAlign="space-between start" >
      <a routerLink="/register">Create Account</a>
      <button class="btn btn-primary">Next</button>
    </div>
  </div>
</form>
