<form class="container" [formGroup]="form" (ngSubmit)="submit()">
  <div fxLayout="column" fxLayoutAlign="start" style="padding: 14px;">
    <div fxLayout="row" class="fundoo">
      <h1 style="color: #4285F4;">F</h1>
      <h1 style="color: #EA4335;">u</h1>
      <h1 style="color: #FBBC04;">n</h1>
      <h1 style="color: #4285F4;">d</h1>
      <h1 style="color: #34A853;">o</h1>
      <h1 style="color: #EA4335;">o</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" >
      <h1 class="recovery">Account Recovery</h1>
    </div>
    <div class="input">
      <clr-input-container>
        <label>Email</label>
        <input clrInput formControlName="email" placeholder="Enter your email"  name="email" required/>
      </clr-input-container>
      <!-- <div class="checkbox">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options"/>
          <label>Show Password</label>
        </clr-checkbox-wrapper>
      </div> -->
    </div>
    <div class="button" fxLayout="row" fxLayoutAlign="space-between start" >
      <a routerLink="" style="margin-left: 10px; font-weight: bold;">Login</a>
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </div>
</form>
